<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-widht, initial-scale=1.0">
    <title>Django tutorials</title>
</head>
<body>
    <form action="/" method="POST">
        {% csrf_token %}
        <label for="name">name</label>
        <input type="text" name="name" placeholder="Enter name" required><br><br><br>
        
        <label for="fname">Fname</label>
        <input type="text" name="fname" placeholder="Enter fname" required><br><br>
        <input type="submit" value="submit">

    </form>
</body>
</html>